<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Mixer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <header id="app">
      <form action="">
        <section class="input-slider-container">
          <input type="range" 
                 name="red-value" 
                 id="red-value" 
                 min="0" 
                 max="255" 
                 v-model="red" 
                 @input="updateSliderBackgrounds()">
          <input type="range" 
                 name="green-value" 
                 id="green-value" 
                 min="0" 
                 max="255" 
                 v-model="green" 
                 @input="updateSliderBackgrounds()">
          <input type="range" 
                 name="blue-value" 
                 id="blue-value" 
                 min="0" 
                 max="255" 
                 v-model="blue" 
                 @input="updateSliderBackgrounds()">
        </section>
  
        <section class="color-code-container">
          <h1 class="color-code-hex">{{ hexColor }}</h1>
        </section>
      </form>
    </header>
  
    <main></main>
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="script.js"></script>
  </body>  